{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
    <form action="{% url 'index' %}" method="post"> 
        {% csrf_token %}
        <div class="form-group">
            <label for="postContent">New Post</label>
            <textarea class="form-control" id="postContent" name="post" rows="3"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Post">
    </form> 
    {% endif %}
    {% for post in posts %}
        <div class="card">
            <div class="card-header">
               <a href="{% url 'user' post.user.id %}" class="text-decoration-none text-muted"> {{ post.user }} </a>
            </div>
            <div class="card-body">
            {% if post.user == request.user %}
            <a href="#" class="text-decoration-none">Edit</a>
            {% endif %}
            <p class="card-text">{{ post.body }}</p>
            <p class="card-text"><i class="fa fa-heart" aria-hidden="true" style="color:red"></i> <span id="num-likes">0</span></p>
            <p class="card-text" id="comment" data-id={{ post.id }}>Comment</p>
            </div>
            <div class="card-footer text-muted">
            {{ post.timestamp }}
            </div>
        </div>
        {% empty %}
        <div>No posts.</div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}