{% extends "auctions/layout.html" %}

{% block body %}

{% if auctions %}
    <h2>Watchlist</h2>

    <div class="row col-auto">
        <div class="card-deck">
            {% for auction in auctions %}
                <div class="col mb-4">
                    <div class="card">
                        {% if auction.photo %}
                            <a href="{% url 'listing' auction.id %}"><img src="{{ auction.photo }}" class="card-img-top" alt="Auction Photo"></a>
                            <!-- <a href="listing/{{ auction.id }}"><img src="{{ auction.photo }}" class="card-img-top" alt="Auction Photo"></a> -->
                        {% else %}
                            <a href="{% url 'listing' auction.id %}"><p class="card-img-top" >NO IMAGE</p></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ auction.title }}</h5>
                            <p class="card-text">{{ auction.description }}</p>
                            <p class="card-text">Created: {{ auction.created }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Added {{ auction.created }}</small>
                        </div>
                    </div>
                </div>
    
            {% empty %}
                <div class="col mb-12">
                    <div class="alert alert-caution card" role="alert">
                        Your watch list is empty.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% endblock %}